# macOS
.DS_Store

# dependencies
/node_modules
apps/web/node_modules
/.pnp
.pnp.js

# testing
/coverage
coverage

# Next.js
/.next/
/out/
apps/web/.next
apps/web/out

# production
/build

# misc
*.pem

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
